input[type="range"] {
    width: 80%;
    background-color: red;
    height: 1.3vh;
  }

img {
    height: 30vh;
    width: auto;
    object-fit: contain;
}

.product-card:hover {
  transition: transform 1.5s;
  cursor: pointer;
  transform: scale(1.06);
}