<div class="container py-4">
    <div class="row d-flex flex-row align-items-center">
        <div class="col">
            <img class="brand" src="https://via.placeholder.com/121x38" alt="" routerLink="/">
        </div>
        <div class="col d-flex flex-row justify-content-around">
            <a class="button-text dark-blue" [routerLink]="['/']">Home</a>
            <a class="button-text dark-blue" [routerLink]="['/products']">Products</a>
            <a class="button-text dark-blue" [routerLink]="['/diary']">Diary</a>
            <a class="button-text dark-blue" [routerLink]="['/contact']">Contact</a>
        </div>
        <div class="col">
            <div class="float-end">
                <span class="button-text me-3">icon1</span>
                <span class="button-text ms-3">icon2</span>
            </div>
        </div>
    </div>
</div>
