<div class="container py-4">
    <div class="row d-flex flex-row align-items-center">
        <div class="col">
            <div class="brand-container">
                <img class="brand" src="../../../assets/logos/danone_logo_vector1.svg" class="img-fluid" alt="" routerLink="/">
            </div>
        </div>
        <div class="col d-flex flex-row justify-content-around">
            <a class="button-text dark-blue" [routerLink]="['/']">Home</a>
            <a class="button-text dark-blue" [routerLink]="['/products']">Products</a>
            <a class="button-text dark-blue" [routerLink]="['/diary']">Diary</a>
            <a class="button-text dark-blue" [routerLink]="['/contact']">Contact</a>
        </div>
        <div class="col">
            <div class="float-end">
                <span class="button-text me-3"><img src="../../../assets/icons/menu.svg" alt=""></span>
                <span class="button-text ms-3"><img src="../../../assets/icons/search.svg" alt=""></span>
            </div>
        </div>
    </div>
</div>
