<div class="100vw overflow-hidden">
    <img src="https://via.placeholder.com/1443x501" width="100%" height="100px">
</div>

<div class="d-flex flex-column p-5 mb-5 align-items-stretch">
    <div class="d-flex justify-content-center mb-4">
        <h4>
            Keep track of your daily calorie limit!
        </h4>
    </div>
    <div class="d-flex justify-content-center mt-2 mb-4">
        <p>
            Tell us your maximum daily calorie intake and we will recommend the products that best suit your goals!
        </p>
    </div>
        <div class="d-flex justify-content-center mt-2">
        <button class="button-lg-secondary" [routerLink]="['/diary']">
            <a class="button-text">Start now</a>
        </button>
    </div>
</div>