<!-- Homepage img -->
<div class="100vw overflow-hidden">
    <img src="../../../assets/img/homepage_img.svg" width="100%" height="auto" class="img-fluid"
        alt="With Danone, you can keep track of your calorie intake!">
</div>

<div class="d-flex flex-column p-5 mb-5 align-items-stretch">
    <!-- Header -->
    <div class="d-flex justify-content-center mb-4">
        <h4>
            Keep track of your daily calorie limit!
        </h4>
    </div>
    <!-- Subheader -->
    <div class="d-flex justify-content-center mt-2 mb-4">
        <p>
            Tell us your maximum daily calorie intake and we will recommend the products that best suit your goals!
        </p>
    </div>
    <!-- Button -->
    <div class="d-flex justify-content-center mt-2">
        <button class="button-lg-secondary" [routerLink]="['/diary']">
            <a class="button-text">Start now</a>
        </button>
    </div>
</div>