<div role="bar" class="100vw p-3 login-navbar-bg">
    <div class="row">
        <div class="col d-flex justify-content-end me-5">
            <div *ngIf="!isUserLogged">
                <span class="caption" id="login-text" (click)="logUser()">
                    Login/Sign Up
                </span>
            </div>
            <div class="m-0 p-0" *ngIf="isUserLogged">
                <div class="dropdown">
                    <button class="logged-user-menu" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        icon                    
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" [routerLink]="['/profile']">Profile page</a></li>
                      <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
                    </ul>
                  </div>
            </div>
        </div>
    </div>
</div>
