.login-navbar-bg {
    background-color: var(--violet-blue);
}

#login-text {
    color: #FFF;
}

.loguser-text:hover{
    cursor: pointer;
}

.logged-user-menu {
    height: 6.5vh;
    width: 6.5vh;
    border-radius: 50%;
    background-color: var(--light-blue);
    border: none;
}