@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    /*palette*/
    --blue-50: #e8f3ff;
    --blue-100: #d5e8ff;
    --blue-200: #b3d3ff;
    --blue-300: #85b4ff;
    --blue-400: #5686ff;
    --blue-500: #2f59ff;
    --blue-600: #0c26ff;
    --blue-700: #0017eb;
    --blue-800: #061ccd;
    --blue-900: #10249f;
    --blue-950: #0a135c;
    
    /*logos*/
    --light-blue: #e8f3ff;
    --light-blue-2: #B3D3FF;
    --picton-blue: #4CABE4;
    --blue-jeans: #5BB5E9;
    --baby-blue: #89C8F2;
    --vivid-ceru: #11ACED;
    --violet-blue: #324BAA; 
    --dark-blue: #0A135C;
}

* {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

h1 {
    font-weight: 700;
    font-size: 69px;
    line-height: 84px;
}

h2 {
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
}

h3 {
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
}

h4 {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}

h5 {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
}

p, span {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

a {
    color: #000;
    text-decoration-line: none;
    cursor: pointer;
}

.button-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px; /* or identical to box height*/
}

.caption {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.light-blue{
    color: var(--light-blue);
}
.light-blue-2{
    color: var(--light-blue-2);
}
.picton-blue{
    color: var(--picton-blue);
}
.blue-jeans{
    color: var(--blue-jeans);
}
.baby-blue{
    color: var(--baby-blue);
}
.vivid-ceru{
    color: var(--vivid-ceru);
}
.violet-blue{
    color: var(--violet-blue);
}
.dark-blue{
    color: var(--dark-blue);
}

.dan-frame {
    border: 1px solid var(--light-blue-2);
    border-radius: 5px;
}

/* Buttons */
.button-lg-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13.0875px 23.0956px;
    background-color: var(--violet-blue);
    border: 1px solid var(--violet-blue);
    border-radius: 3px;
    color: #FFF;
}

.button-lg-primary:hover {
    background-color: var(--blue-900);
    border: 1px solid var(--blue-950);
}

.button-lg-secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13.0875px 23.0956px;
    background-color: #FFF;
    border: 1px solid var(--violet-blue);
    border-radius: 3px;
}

.button-lg-secondary:hover {
    background-color: var(--light-blue);
    border: 2px solid var(--violet-blue);
}

button:disabled {
    opacity: 0.6;
}
