<div class="container py-3">
    <div class="row">
        <div class="col-10">
            <div class="d-flex justify-content-around footer-info">
                <a class="caption">News</a>
                <a class="caption">Products</a>
                <a class="caption">Contact</a>
                <a class="caption">Help</a>
            </div>
        </div>
        <div class="col-2">
            <div class="d-flex justify-content-between">
                <span>icon1</span>
                <span>icon2</span>
                <span>icon3</span>
            </div>
        </div>
    </div>
</div>