<div class="container py-3">
  <div class="row">
    <!-- Relevant links -->
    <div class="col-10">
      <div
        class="d-flex justify-content-evenly align-content-center footer-info"
      >
        <div class="d-flex align-self-center">
            <a href="https://www.danone.com/media.html" target="_blank" class="caption">News</a>
        </div>
        <div class="d-flex align-self-center">
          <a href="https://www.danone.es/productos/" target="_blank" class="caption">Products</a>
        </div>
        <div class="d-flex align-self-center">
          <a href="https://www.danonenorthamerica.com/contact" target="_blank" class="caption">Contact</a>
        </div>
        <div href="https://www.customerdanone.com/" target="_blank" class="d-flex align-self-center">
            <a class="caption">Help</a>
        </div>
      </div>
    </div>
    <!-- Social networks -->
    <div class="col-2">
      <div class="d-flex justify-content-evenly align-content-center">
        <a href="https://www.instagram.com/danonemx" target="_blank" class="m-0"
          ><img src="../../../assets/icons/instagram.svg" alt=""
        /></a>
        <a href="https://www.facebook.com/DanoneMX" target="_blank" class="m-0"
          ><img src="../../../assets/icons/facebook.svg" alt=""
        /></a>
        <a href="https://twitter.com/DanoneMX" target="_blank" class="m-0"
          ><img src="../../../assets/icons/twitter.svg" alt=""
        /></a>
      </div>
    </div>
  </div>
</div>
